@{
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}
@* để sử dụng phân trang thì using dòng sau *@
@using X.PagedList
@* để sử dụng hàm IpageList thì using *@
@using X.PagedList.Mvc.Core
@using System.IO
@using asp.net11_project.Models
@functions{ 
    MyDbContext db = new MyDbContext();
    public string GetNameCategory(int idCategory)
    {
        CategoriesRecord record = db.Categories.Where(c => c.ID == idCategory).FirstOrDefault();
        return record.Name != null ? record.Name : "";
    }
}
<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Products/Create" class="btn btn-primary">Add Product</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List Product</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Photo</th>
                    <th>Name</th>
                    <th style="width:200px;">Category</th>
                    <th style="width:100px;">Price</th>
                    <th style="width:70px;">Discount</th>
                    <th style="width:70px;">Hot</th>
                    <th style="width:100px;"></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.Photo) && File.Exists(Directory.GetCurrentDirectory() + "\\wwwroot\\Upload\\Products\\" + item.Photo))
                    {
                        <img src="~/Upload/Products/@item.Photo" style="width:100px;" />
                    }
                </td>
                <td>@item.Name</td>
                <td>@GetNameCategory(item.CategoryID)</td>
                <td>@item.Price</td>
                <td>@item.Discount %</td>
                <td>@if (item.Hot == 1) {<text>Hot</text> }</td>

           <td style="text-align:center;">

               <a href="/Admin/Products/Update/@item.ID">Edit</a>&nbsp;
                    <a href="/Admin/Products/Delete/@item.ID" onclick="return window.confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
                }

            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>
