@{
    Layout = "~/Views/Share/LayoutTrangTrong.cshtml";
}
@* để sử dụng phân trang thì using dòng sau *@
@using X.PagedList
@* để sử dụng hàm IpageList thì using *@
@using X.PagedList.Mvc.Core
@using asp.net11_project.Models
@using Microsoft.EntityFrameworkCore
@functions{
    public MyDbContext db = new MyDbContext();
    public String GetCategoryName()
    {
        //ViewContext.RouteData.Values["id"]:lấy giá trị ID từ url
        int categoryID = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
        CategoriesRecord record = db.Categories.Where(p => p.ID == categoryID).FirstOrDefault();
        return record != null ? record.Name : "";
    }

}
<div class="special-collection">
    <div class="tabs-container">
        <div class="row" style="margin-top:10px;">
            <div class="head-tabs head-tab1 col-lg-3">
                <h2>@GetCategoryName()</h2>
            </div>
            <div class="col-lg-3 pull-right text-right">
                <select class="form-control" onchange="location.href = '/Products/Category/@ViewContext.RouteData.Values["id"]?order=' + this.value;">
                    <option value="0">Sắp xếp</option>
                    <option value="priceAsc">Giá tăng dần</option>
                    <option value="priceDesc">Giá giảm dần</option>
                    <option value="nameAsc">Sắp xếp A-Z</option>
                    <option value="nameDesc">Sắp xếp Z-A</option>
                </select>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tabs-content row">
        <div id="content-tabb1" class="content-tab content-tab-proindex" style="display:none">
            <div class="clearfix">
                @foreach (var itemProduct in Model)
                {
                    <!-- box product -->
                <div class="col-xs-6 col-md-3 col-sm-6">
                    <div class="product-grid" id="product-1168979" style="height: 350px; overflow: hidden;">
                        <div class="image"> <a href="#"><img src="~/Upload/Products/@itemProduct.Photo" title="@itemProduct.Name" alt="@itemProduct.Name" class="img-responsive"></a> </div>
                        <div class="info">
                            <h3 class="name"><a href="/Products/Detail/@itemProduct.ID">@itemProduct.Name </a></h3>
                            <p class="price-box"> <span class="special-price"> <span class="price product-price" style="text-decoration:line-through;"> @itemProduct.Price</span> ₫ </span> </p>
                            <p class="price-box"> <span class="special-price"> <span class="price product-price">@string.Format("{0}", itemProduct.Price - (itemProduct.Price * itemProduct.Discount / 100)) </span>₫ </span> </p>
                            <p class="price-box"> 
                            <a href="/Products/Star/@itemProduct.ID?star=1"><img src="~/Frontend/images/star.jpg"></a> 
                            <a href="/Products/Star/@itemProduct.ID?star=2"><img src="~/Frontend/images/star.jpg"></a> 
                            <a href="/Products/Star/@itemProduct.ID?star=3"><img src="~/Frontend/images/star.jpg"></a> 
                            <a href="/Products/Star/@itemProduct.ID?star=4"><img src="~/Frontend/images/star.jpg"></a> 
                            <a href="/Products/Star/@itemProduct.ID?star=5"><img src="~/Frontend/images/star.jpg"></a> 
                            </p>
                            <div class="action-btn">
                                <form>
                                    <a href="/Cart/Buy/@itemProduct.ID" class="button">Add to Cart</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- end box product -->
                }
                <!-- paging -->
                <div style="clear: both;"></div>
                <style type="text/css">
                    .pagination {
                        padding: 0px;
                        margin: 0px;
                    }
                </style>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", new { id = ViewBag.intCategoryID, page = page }))
                <!-- end paging -->
            </div>
        </div>
    </div>
</div>